# Node
node_modules/
npm-debug.log
yarn-error.log

# Android
.gradle
build/
local.properties
*.keystore
!debug.keystore
*.apk
*.aab

# iOS
.bundle/
vendor/bundle/
Pods/
DerivedData/
build/
*.xcworkspace

# React Native
.expo/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo
